/* Base styles */
body {
    line-height: 1.7em;
    color: #87608A;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, label {
    color: #538A7E;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}
/* Header styles */
.home-menu{
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.10);
}
.home-menu {
    background: #3C253D;
}

.pure-menu .pure-menu-fixed {
    border-bottom: none;
    z-index:4;
}
.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu a {
    color: #87608A;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background-color: white;
    border: none;
    color: #538A7E;
}

/* Index main styles */
.splash-container {
    background: #87608A;
    z-index: 1;
    overflow: hidden;

    /* the follow allowed the scroll over effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}
.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right:0;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color:white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/* Content */
.content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.content {
    padding: 1em 1em 3em;
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content-subhead {
    color: #283D38;
}

/* Index page ribbon */
.content-head-ribbon {
    color: white;
}

.ribbon {
    background: #283D38;
    color: darkgray;
}

/* Form styles */

/* Table styles */

/* Footer styles */
.footer {
    background: #3C253D;
    position: fixed;
    bottom: 0;
    width: 100%;
}